name: Run tests
on:
  pull_request:
    branches: ['*']
  push:
    branches: ['master']

jobs:
  test:
    name: Compile and validate
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Cache sbt, coursier and ivy
        uses: actions/cache@v2
        with:
          path: |
            ~/.cache/coursier
            ~/.ivy2/cache
            ~/.sbt
          key: ${{ runner.os }}-sbt-cache-${{ hashFiles('**/build.sbt') }}-${{ hashFiles('**/plugins.sbt') }}-${{ hashFiles('**/build.properties') }}
      - name: Compile and validate
        run: sbt +validate
